<div class= "container">
  <div id="card_signup_create">
    <h1 class="mb-3">Editar una carrera</h1>

  <%= render"form", institution: @institution %>


  <%= link_to 'Regresar a la lista de Instituciones', institutions_path %>
  </div>
</div>
