<div class= "container">
  <%= link_to 'Lista de instituciones', institutions_path %>
  <div id="card_signup_create">
    <h1 class="m-3 mt-5 text-center">CREA UNA NUEVA INSTITUCIÓN</h1>
    <div class="card-new">
      <%= render"form", institution: @institution %>
    </div>
  </div>
</div>
