// Specific CSS for your home-page
.container-search form {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

body {
  background-color: white;
  margin-top: 0%;
}

.container-test {
  background-position: center;
  background-image: linear-gradient(to right, #7759FF, #1FE0BA);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 15px;
  color: white;
}
