<div class="header">
  <h1>Carreras</h1>
  <%= link_to 'Atras', career_path(@career), class: "btn btn-ghost m-3" %>
</div>

<div class= "container">
  <div id="card_signup_create">
    <h1 class="mb-3">Editar una carrera</h1>
  <%= render"form", career: @career %>
  </div>
</div>
