<h1>Carreras</h1>
<ul>
  <% @careers.each do |career| %>
  <li><%= link_to career.name, career_path(career) %></li>
  <% end %>
</ul>

<%= link_to 'Agregar una nueva carrera', new_career_path , class: "btn btn-ghost mt-3 ml-3"  %>
