<div class="header">
  <h1>Carreras</h1>
  <%= link_to 'Atrás', "/careers", class: "btn btn-ghost m-3" %>
</div>
<div class= "container">
  <div id="card_signup_create">
    <h1 class="m-3 mt-5 text-center">CREA UNA NUEVA CARRERA</h1>
    <div class="card-new">
      <%= render"form", career: @career %>
    </div>
  </div>
</div>
