<footer>
  <div class="footer">
    <div class="footer-copyright">
      <p>Web alojada en <a href="https://www.heroku.com/" target="_blank">Heroku</a></p>
      <p>Poyecto de <a href="https://www.lewagon.com/es" target="_blank">Le Wagon</a></p>
      <p>Perú 2022</p>
    </div>

    <div class = "footer-links">
      <div class="footer-quecarrera">
        <p>QuéCarreraPe <i class="fas fa-heart"></i></p>
      </div>
      <div class="footer-links-individual">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>

    <div class = "footer-members">
      <a href="/">Jair Ramirez</a>
      <a href="/">Angela Cuadros</a>
      <a href="/">Stephanie Nuñez</a>
      <a href="/">Alejaandra Asparrin</a>
    </div>

  </div>
</footer>
