<div class="container">
  <div class="card-test">
    <h1 class="title-test text-center">Test Vocacional</h1>

    <form action="/#" id="form" novalidate>

      <div class="C card-checkbox">
        <div class="question">
          <div class="circle-number">1</div>
          <h3> ¿Sabes qué es el PBI?</h3>
        </div>
        <div class="answer d-flex justify-content-start d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center d-flex align-items-center">
          <input type="radio" name="question1" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>
          <label class="mycheckbox d-flex align-items-center d-flex align-items-center">
          <input type="radio" name="question1" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="C card-checkbox">
        <div class="question">
          <div class="circle-number">2</div>
          <h3>¿Te gustaría realizar una investigación que contribuyera a hacer más justa la distribución de la riqueza? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question2" value="1" required>
          <span>
              <i class="fas fa-check on"></i>
              <i class="fas fa-times off"></i>
            </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question2" value="0">
          <span>
              <i class="fas fa-check on"></i>
              <i class="fas fa-times off"></i>
            </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="C card-checkbox">
        <div class="question">
          <div class="circle-number">3</div>
            <h3>¿Si una gran empresa solicita un profesional como gerente de mercado, te sentirías a
  gusto desempeñando ese rol? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question3" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question3" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="C card-checkbox">
        <div class="question">
          <div class="circle-number">4</div>
          <h3>¿Trabajarías para un periódico? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question4" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question4" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="H card-checkbox">
        <div class="question">
          <div class="circle-number">5</div>
          <h3>¿Te ofrecerías para explicar a tus compañeros un determinado tema que ellos no entendieron?  </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question5" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question5" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="H card-checkbox">
        <div class="question">
          <div class="circle-number">6</div>
          <h3>¿Te interesan los temas relacionados al pasado y a la evolución del hombre? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question6" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question6" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="H card-checkbox">
        <div class="question">
          <div class="circle-number">7</div>
          <h3>¿Pasarías varias horas leyendo algún libro de tu interés?  </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
            <input type="radio" name="question7" value="1" required>
            <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question7" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="H card-checkbox">
        <div class="question">
          <div class="circle-number">8</div>
          <h3>¿Dedicarías parte de tu tiempo a ayudar a personas de zonas donde existe la pobreza?  </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question8" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question8" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="A card-checkbox">
        <div class="question">
          <div class="circle-number">9</div>
          <h3>¿Te sientes feliz, cuando vas a una fiesta? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question9" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question9" value="0">
          <span>
             <i class="fas fa-check on"></i>
             <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="A card-checkbox">
        <div class="question">
          <div class="circle-number">10</div>
          <h3>¿Cuando eliges tu ropa o decoras un ambiente, tienes en cuenta la combinación de
  los colores, las telas o el estilo de los muebles?  </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question10" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question10" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="A card-checkbox">
        <div class="question">
          <div class="circle-number">11</div>
          <h3>¿Disfrutas modelando con arcilla o barro?  </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question11" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question11" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="A card-checkbox">
        <div class="question">
          <div class="circle-number">12</div>
          <h3>¿Desearías que te regalen algún instrumento musical para tu cumpleaños?   </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question12" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question12" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="S card-checkbox">
        <div class="question">
          <div class="circle-number">13</div>
          <h3>¿Ante un llamado solidario, te ofrecerías para cuidar a un enfermo? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question13" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question13" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="S card-checkbox">
        <div class="question">
          <div class="circle-number">14</div>
          <h3>¿Participarías en una campaña de prevención contra alguna enfermedad? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question14" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question14" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="S card-checkbox">
        <div class="question">
          <div class="circle-number">15</div>
          <h3>¿Te interesaría investigar sobre alguna nueva vacuna?  </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question15" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question15" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="S card-checkbox">
        <div class="question">
          <div class="circle-number">16</div>
          <h3>¿Escuchas atentamente los problemas que te plantean tus amigos? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question16" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question16" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="I card-checkbox">
        <div class="question">
          <div class="circle-number">17</div>
          <h3>¿Cuando eras más pequeño, te interesaba saber cómo estaban construidos tus juguetes?  </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question17" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question17" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="I card-checkbox">
        <div class="question">
          <div class="circle-number">18</div>
          <h3>¿Cuando tienes que resolver un problema matemático, perseveras hasta encontrar la solución? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question18" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question18" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="I card-checkbox">
        <div class="question">
          <div class="circle-number">19</div>
          <h3>¿Te ofrecerías para colaborar como voluntario en los gabinetes espaciales de la NASA? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question19" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question19" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="I card-checkbox">
        <div class="question">
          <div class="circle-number">20</div>
          <h3>¿Cuando se descompone un artefacto en tu casa, te dispones prontamente a repararlo? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question20" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question20" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="D card-checkbox">
        <div class="question">
          <div class="circle-number">21</div>
          <h3>¿Trabajarías con alguna fuerza armada? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question21" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question21" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="D card-checkbox">
        <div class="question">
          <div class="circle-number">22</div>
          <h3>¿Aceptarías que las mujeres formaran parte de las fuerzas armadas bajo las mismas normas que los hombres? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question22" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question22" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="D card-checkbox">
        <div class="question">
          <div class="circle-number">23</div>
          <h3>¿Elegirías una profesión en la tuvieras que estar algunos meses alejado de tu familia, por ejemplo, el marino? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question23" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question23" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="D card-checkbox">
        <div class="question">
          <div class="circle-number">24</div>
          <h3>¿Te dedicarías ayudar a personas accidentadas o atacadas por ladrones? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question24" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question24" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="E card-checkbox">
        <div class="question">
          <div class="circle-number">25</div>
          <h3>¿Visitarías un observatorio astronómico para observar objetos mecánicos? Robots... </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question25" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question25" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="E card-checkbox">
        <div class="question">
          <div class="circle-number">26</div>
          <h3>¿Te gustaría trabajar en un laboratorio mientras estas en otro sitio estudiando? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question26" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question26" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="E card-checkbox">
        <div class="question">
          <div class="circle-number">27</div>
          <h3>¿Estás informado sobre los nuevos descubrimientos que se están realizando sobre la Teoría del Big-Bang?  </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question27" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question27" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="E card-checkbox">
        <div class="question">
          <div class="circle-number">28</div>
          <h3>¿Te atrae investigar sobre los misterios del universo, por ejemplo, los agujeros negros? </h3>
        </div>
        <div class="answer d-flex justify-content-start">
          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question28" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>

          <label class="mycheckbox d-flex align-items-center">
          <input type="radio" name="question28" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class= "d-flex justify-content-center">
        <button type="submit" class="btn btn-dark btn-test-submit d-flex align-items-center" data-toggle="modal" data-target="#results">
        Enviar test
        </button>
      </div>

    </form>
  </div>

</div>

<div class="modal fade" id="results" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resultado del test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="go-to-career">Ver Carreras</button>
      </div>
    </div>
  </div>
</div>
