<div class="container">
  <div class="card-test">
    <h1>Test Vocacional</h1>

    <form action="/#" id="form">

      <div class="C card-checkbox">
        <div class="question">
          <div class="circle-number">1</div>
          <h3> ¿Sabes qué es el PBI?</h3>
        </div>
        <div class="answer">
          <label class="mycheckbox">
          <input type="radio" name="question1" value="1" required>
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          Sí</label>
          <label class="mycheckbox">
          <input type="radio" name="question1" value="0">
          <span>
            <i class="fas fa-check on"></i>
            <i class="fas fa-times off"></i>
          </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="C card-checkbox">
        <div class="question">
          <div class="circle-number">2</div>
          <h3>¿Te gustaría realizar una investigación que contribuyera a hacer más justa la distribución de la riqueza? </h3>
        </div>
        <div class="answer">
          <label class="mycheckbox">
          <input type="radio" name="question2" value="1" required>
          <span>
              <i class="fas fa-check on"></i>
              <i class="fas fa-times off"></i>
            </span>
          Sí</label>

          <label class="mycheckbox">
          <input type="radio" name="question2" value="0">
          <span>
              <i class="fas fa-check on"></i>
              <i class="fas fa-times off"></i>
            </span>
          No</label>
        </div>
      </div>

      <br/>

      <div class="C card-checkbox">
        <h3>3) ¿Si una gran empresa solicita un profesional como gerente de mercado, te sentirías a
  gusto desempeñando ese rol? </h3>
        <label class="mycheckbox">
        <input type="radio" name="question3" value="1" required>
        <span>
          <i class="fas fa-check on"></i>
          <i class="fas fa-times off"></i>
        </span>
        Sí</label>
        <label class="mycheckbox">
        <input type="radio" name="question3" value="0">
        <span>
          <i class="fas fa-check on"></i>
          <i class="fas fa-times off"></i>
        </span>
        No</label>
      </div>

      <br/>

      <div class="C card-checkbox">
        <h3>4) ¿Trabajarías para un periódico? </h3>
        <label class="mycheckbox">
        <input type="radio" name="question4" value="1" required>
        <span>
          <i class="fas fa-check on"></i>
          <i class="fas fa-times off"></i>
        </span>
        Sí</label>

        <label class="mycheckbox">
        <input type="radio" name="question4" value="0">
        <span>
          <i class="fas fa-check on"></i>
          <i class="fas fa-times off"></i>
        </span>
        No</label>
      </div>

      <br/>

      <div class="H">
        <h3>5) ¿Te   ofrecerías   para   explicar   a   tus   compañeros   un   determinado   tema   que   ellos   no
  entendieron?  </h3>
        <label class="mycheckbox">
        <input type="radio" name="question5" value="1" required>
        <span>
          <i class="fas fa-check on"></i>
          <i class="fas fa-times off"></i>
        </span>
        Sí</label>

        <label class="mycheckbox">
        <input type="radio" name="question5" value="0">
        <span>
          <i class="fas fa-check on"></i>
          <i class="fas fa-times off"></i>
        </span>
        No</label>
      </div>

      <br/>

      <div class="H">
        <h3>6) ¿Te interesan los temas relacionados al pasado y a la evolución del hombre? </h3>
        <label class="mycheckbox">
        <input type="radio" name="question6" value="1" required>
        <span>
          <i class="fas fa-check on"></i>
          <i class="fas fa-times off"></i>
        </span>
        Sí</label>

        <label class="mycheckbox">
        <input type="radio" name="question6" value="0">
        <span>
          <i class="fas fa-check on"></i>
          <i class="fas fa-times off"></i>
        </span>
        No</label>
      </div>

      <br/>

      <div class="H">
        <h3>Pregunta 7: ¿Pasarías varias horas leyendo algún libro de tu interés?  </h3>
        <input type="radio" name="question7" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question7" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="H">
        <h3>Pregunta 8: ¿Dedicarías parte de tu tiempo a ayudar a personas de zonas donde existe la pobreza?  </h3>
        <input type="radio" name="question8" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question8" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="A">
        <h3>Pregunta 9: ¿Te sientes feliz, cuando vas a una fiesta? </h3>
        <input type="radio" name="question9" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question9" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="A">
        <h3>Pregunta 10: ¿Cuándo elegís tu ropa o decoras un ambiente, tienes en cuenta la combinación de
  los colores, las telas o el estilo de los muebles?  </h3>
        <input type="radio" name="question10" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question10" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="A">
        <h3>Pregunta 11: ¿Disfrutas modelando con arcilla o barro?  </h3>
        <input type="radio" name="question11" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question11" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="A">
        <h3>Pregunta 12: ¿Desearías que te regalen algún instrumento musical para tu cumpleaños?   </h3>
        <input type="radio" name="question12" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question12" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="S">
        <h3>Pregunta 13: ¿Ante un llamado solidario, te ofrecerías para cuidar a un enfermo? </h3>
        <input type="radio" name="question13" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question13" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="S">
        <h3>Pregunta 14: ¿Participarías en una campaña de prevención contra alguna enfermedad? </h3>
        <input type="radio" name="question14" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question14" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="S">
        <h3>Pregunta 15: ¿Te interesaría investigar sobre alguna nueva vacuna?  </h3>
        <input type="radio" name="question15" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question15" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="S">
        <h3>Pregunta 16: ¿Escuchas atentamente los problemas que te plantean tus amigos? </h3>
        <input type="radio" name="question16" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question16" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="I">
        <h3>Pregunta 17: ¿Cuándo eras más pequeño, te interesaba saber cómo estaban construidos tus juguetes?  </h3>
        <input type="radio" name="question17" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question17" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="I">
        <h3>Pregunta 18: ¿Cuándo   tienes   que   resolver   un problema   matemático,   perseveras   hasta   encontrar   la solución? </h3>
        <input type="radio" name="question18" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question18" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="I">
        <h3>Pregunta 19: ¿Te ofrecerías para colaborar como voluntario en los gabinetes espaciales de la NASA? </h3>
        <input type="radio" name="question19" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question19" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="I">
        <h3>Pregunta 20: ¿Cuándo se descompone un artefacto en tu casa, te dispones prontamente a repararlo? </h3>
        <input type="radio" name="question20" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question20" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="D">
        <h3>Pregunta 21: ¿Trabajarías con alguna fuerza armada? </h3>
        <input type="radio" name="question21" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question21" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="D">
        <h3>Pregunta 22: ¿Aceptarías   que   las   mujeres formaran   parte   de   las   fuerzas   armadas   bajo   las mismas normas que los hombres? </h3>
        <input type="radio" name="question22" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question22" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="D">
        <h3>Pregunta 23: ¿Elegirías una  profesión  en  la  tuvieras que  estar algunos meses  alejado de  tu familia, por ejemplo, el marino? </h3>
        <input type="radio" name="question23" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question23" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="D">
        <h3>Pregunta 24: ¿Te dedicarías ayudar a personas accidentadas o atacadas por ladrones? </h3>
        <input type="radio" name="question24" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question24" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="E">
        <h3>Pregunta 25: ¿Visitarías un observatorio astronómico para observar objetos mecánicos? Robots... </h3>
        <input type="radio" name="question25" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question25" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="E">
        <h3>Pregunta 26: ¿Te gustaría trabajar en un laboratorio mientras estas en otro sitio estudiando? </h3>
        <input type="radio" name="question26" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question26" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="E">
        <h3>Pregunta 27: ¿Estás   informado   sobre   los   nuevos   descubrimientos   que   se   están realizando sobre la Teoría del Big-Bang?  </h3>
        <input type="radio" name="question27" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question27" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>

      <div class="E">
        <h3>Pregunta 28: ¿Te atrae investigar sobre los misterios del universo, por ejemplo, los agujeros negros? </h3>
        <input type="radio" name="question28" value="1" required>
        <label class="mycheckbox">

        Sí</label>
        <input type="radio" name="question28" value="0">
        <label class="mycheckbox">

        No</label>
      </div>

      <br/>


      <input type="submit" value="Submit">
    </form>
  </div>

</div>
