<div class="container">
  <h1>Test Vocacional</h1>

  <form action="/#" id="form">

    <div class="C">
      <h3>Pregunta 1: ¿Sabes qué es el PBI?</h3>
      <input type="radio" name="question1" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question1" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="C">
      <h3>Pregunta 2: ¿Te gustaría realizar una investigación que contribuyera a hacer más justa la distribución
de la riqueza? </h3>
      <input type="radio" name="question2" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question2" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="C">
      <h3>Pregunta 3: ¿Si una gran empresa solicita un profesional como gerente de mercado, te sentirías a
gusto desempeñando ese rol? </h3>
      <input type="radio" name="question3" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question3" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="C">
      <h3>Pregunta 4: ¿Trabajarías para un periódico? </h3>
      <input type="radio" name="question4" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question4" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="H">
      <h3>Pregunta 5: ¿Te   ofrecerías   para   explicar   a   tus   compañeros   un   determinado   tema   que   ellos   no
entendieron?  </h3>
      <input type="radio" name="question5" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question5" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="H">
      <h3>Pregunta 6: ¿Te interesan los temas relacionados al pasado y a la evolución del hombre? </h3>
      <input type="radio" name="question6" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question6" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="H">
      <h3>Pregunta 7: ¿Pasarías varias horas leyendo algún libro de tu interés?  </h3>
      <input type="radio" name="question7" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question7" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="H">
      <h3>Pregunta 8: ¿Dedicarías parte de tu tiempo a ayudar a personas de zonas donde existe la pobreza?  </h3>
      <input type="radio" name="question8" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question8" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="A">
      <h3>Pregunta 9: ¿Te sientes feliz, cuando vas a una fiesta? </h3>
      <input type="radio" name="question9" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question9" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="A">
      <h3>Pregunta 10: ¿Cuándo elegís tu ropa o decoras un ambiente, tienes en cuenta la combinación de
los colores, las telas o el estilo de los muebles?  </h3>
      <input type="radio" name="question10" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question10" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="A">
      <h3>Pregunta 11: ¿Disfrutas modelando con arcilla o barro?  </h3>
      <input type="radio" name="question11" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question11" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="A">
      <h3>Pregunta 12: ¿Desearías que te regalen algún instrumento musical para tu cumpleaños?   </h3>
      <input type="radio" name="question12" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question12" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="S">
      <h3>Pregunta 13: ¿Ante un llamado solidario, te ofrecerías para cuidar a un enfermo? </h3>
      <input type="radio" name="question13" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question13" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="S">
      <h3>Pregunta 14: ¿Participarías en una campaña de prevención contra alguna enfermedad? </h3>
      <input type="radio" name="question14" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question14" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="S">
      <h3>Pregunta 15: ¿Te interesaría investigar sobre alguna nueva vacuna?  </h3>
      <input type="radio" name="question15" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question15" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="S">
      <h3>Pregunta 16: ¿Escuchas atentamente los problemas que te plantean tus amigos? </h3>
      <input type="radio" name="question16" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question16" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="I">
      <h3>Pregunta 17: ¿Cuándo eras más pequeño, te interesaba saber cómo estaban construidos tus juguetes?  </h3>
      <input type="radio" name="question17" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question17" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

     <div class="I">
      <h3>Pregunta 18: ¿Cuándo   tienes   que   resolver   un problema   matemático,   perseveras   hasta   encontrar   la solución? </h3>
      <input type="radio" name="question18" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question18" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

     <div class="I">
      <h3>Pregunta 19: ¿Te ofrecerías para colaborar como voluntario en los gabinetes espaciales de la NASA? </h3>
      <input type="radio" name="question19" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question19" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="I">
      <h3>Pregunta 20: ¿Cuándo se descompone un artefacto en tu casa, te dispones prontamente a repararlo? </h3>
      <input type="radio" name="question20" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question20" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="D">
      <h3>Pregunta 21: ¿Trabajarías con alguna fuerza armada? </h3>
      <input type="radio" name="question21" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question21" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="D">
      <h3>Pregunta 22: ¿Aceptarías   que   las   mujeres formaran   parte   de   las   fuerzas   armadas   bajo   las mismas normas que los hombres? </h3>
      <input type="radio" name="question22" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question22" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="D">
      <h3>Pregunta 23: ¿Elegirías una  profesión  en  la  tuvieras que  estar algunos meses  alejado de  tu familia, por ejemplo, el marino? </h3>
      <input type="radio" name="question23" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question23" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="D">
      <h3>Pregunta 24: ¿Te dedicarías ayudar a personas accidentadas o atacadas por ladrones? </h3>
      <input type="radio" name="question24" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question24" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="E">
      <h3>Pregunta 25: ¿Visitarías un observatorio astronómico para observar objetos mecánicos? Robots... </h3>
      <input type="radio" name="question25" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question25" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="E">
      <h3>Pregunta 26: ¿Te gustaría trabajar en un laboratorio mientras estas en otro sitio estudiando? </h3>
      <input type="radio" name="question26" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question26" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="E">
      <h3>Pregunta 27: ¿Estás   informado   sobre   los   nuevos   descubrimientos   que   se   están realizando sobre la Teoría del Big-Bang?  </h3>
      <input type="radio" name="question27" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question27" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>

    <div class="E">
      <h3>Pregunta 28: ¿Te atrae investigar sobre los misterios del universo, por ejemplo, los agujeros negros? </h3>
      <input type="radio" name="question28" value="1" required>
      <label for="#">Verdadero</label>
      <input type="radio" name="question28" value="0">
      <label for="#">Falso</label>
    </div>

    <br/>


    <input type="submit" value="Submit">
  </form>
</div>

<script>
const form = document.getElementById("form");

form.addEventListener("submit", (event) => {
  event.preventDefault();
  const c = document.querySelectorAll(".C");
  const h = document.querySelectorAll(".H");
  const a = document.querySelectorAll(".A");
  const s = document.querySelectorAll(".S");
  const i = document.querySelectorAll(".I");
  const d = document.querySelectorAll(".D");
  const e = document.querySelectorAll(".E");
  console.log(h);
  const sum_c = area(c);
  const sum_h = area(h);
  const sum_a = area(a);
  const sum_s = area(s);
  const sum_i = area(i);
  const sum_d = area(d);
  const sum_e = area(e);

  console.log(sum_c, "resultado c");
  console.log(sum_h, "resultado h");
  console.log(sum_a, "resultado a");

  const max = Math.max(sum_c, sum_h, sum_a, sum_s, sum_i, sum_d, sum_e);
  console.log(max);

  const areas = [
    {area: 'ADMINISTRATIVAS Y CONTABLES', quantity: sum_c},
    {area: 'HUMANISTA Y SOCIALES', quantity: sum_h},
    {area: 'ARTISTICAS', quantity: sum_a},
    {area: 'MEDICINA Y CIENCIAS DE LA SALUD', quantity: sum_s},
    {area: 'INGENIERIA Y COMPUTACION', quantity: sum_i},
    {area: 'DEFENSA Y SEGURIDAD ', quantity: sum_d},
    {area: 'CIENCIAS EXACTAS Y AGRARIAS', quantity: sum_e}
  ];

  const finalResult = areas.find( quant => quant.quantity === max );
  console.log(finalResult.area)

  window.location.replace(`<%= careers_path %>?query=${finalResult.area}`);

});

const area = (array) => {
  console.log(array)
  let result = 0;
  array.forEach ((question) => {
  console.log(question)
  console.log(question.querySelector("input").name, "aqui")
  let nameQ = question.querySelector("input").name;
  let valueQ = document.querySelector(`input[name=${nameQ}]:checked`)?.value;

  console.log(result, "RESULT!")
  console.log(valueQ, "resultado")
  result += parseInt(valueQ);

  }
  )
  return result
}
</script>
