<h1>Eventos</h1>

<div class= "container">
  <% @events.each do |event| %>

    <h2><strong><%=link_to event.name, event_path(event) %></strong></h2>
              <%= cl_image_tag event.photo.key, height: 200, width: 200, crop: :fill %>
              <p>Ponente: <%=  event.user.first_name %> <%= event.user.last_name %></p>
  <% end %>
</div>
