html {
  min-height: 100%;
  position: relative;
}
body {
  margin-top: 10px;
  margin-bottom: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer {
  background: #ebf4fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  text-decoration: none;
  bottom:0;
  font-size: 15px;
  color: #030929;
  margin-top: 20px;
}

.footer-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 10px;
}
.footer-links-individual {
  margin-top: 18px;
}
.footer-links a {
  color: #7759FF;

  text-decoration: none;
  font-size: 35px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #1FE0BA;

}
.footer .fa-heart {
  color: #7759FF;
}
.footer-quecarrera {
  font-size: 28px;
  font-weight: 600;
  color: #FFB83F;
}
.footer-members {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.footer-members a {
  text-decoration: none;
  line-height: 21px;
  color: #030929;


}
.footer-members a:hover {
  color: #FFB83F;

}

.footer-copyright {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer-copyright p {
  color: #030929;

  margin:0px;
}
.footer-copyright p a {
  text-decoration: none;
  color: #030929;

}
.footer-copyright p a:hover {
  color: #FFB83F;

}
