.header h1 {
    font-size: 48px;
    color: #f8f9fa;
    text-align: center;
    height: 140px;
    text-align: center;
    align-content: center;
    padding-block: 36px;
    background-image: linear-gradient(to right, #7759FF,#1FE0BA );

}
