.navbar-lewagon {
  justify-content: space-between;
  background:white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 160px;
}
.navbar-nav {
  align-items: center;
  .nav-item .log-in {
     margin-right: 80px;
     margin-left: 87px;
  }
}
.links {
  display: flex;
  justify-content: center;
  margin:0% ;
  ul {
    text-align: center;
    align-items: center;
  }
  .nav {
    background-color: white;
    text-align: center;
  }
}
.nav-link-btn {
  background: #FFB83F;
  margin-left: 20px;
  border: white;
  font-size: 500 !important;
  border-radius: 3px;
}
.user-name {
  color: black;
}
