.navbar-lewagon {
  justify-content: space-between;
  background:white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
  margin-left: 80px;
}

.navbar-nav {
  align-items: center;
  img {
  margin-right: 80px;
  }
  .nav-item .log-in {
     margin-right: 80px;
     margin-left: 87px;
  }
}

.links {
  display: flex;
  justify-content: center;
  margin:0% ;
  ul {
    text-align: center;
    align-items: center;
  }
  .nav {
    background-color: white;
    text-align: center;
  }
}
